In [11]:
import pandas as pd

In [12]:
# Trazendo os DataFrames da outra pasta
dataframe1 = pd.read_json("../meu_dataframe_animes.json")
dataframe2 = pd.read_json("../meu_dataframe_desenhos.json")
dataframe3 = pd.read_json("../meu_dataframe_filmes.json")

# Criando novos DataFrames com novas linhas
df1_novasLinhas = pd.DataFrame({

    "Meus_animes_favoritos":["One punch man", "Bleach", "Seven deadly sins"],
    "Ano_de_Lançamento":[2009, 2001,2012],
    "Nota_de_quanto_gosto":[9,9,8]
})

df2_novasLinhas = pd.DataFrame({

    "Meus_desenhos_favoritos":["Barney", "Bakugan", "Clarence"],
    "An_de_lançamento":[1992,2007,2014],
    "Nota_de_quanto_gosto":[6, 7, 7]
})

df3_novasLinhas = pd.DataFrame({

    "Meus_Filmes_Favoritos":["O relampago mcqueen", "As cronicas de narnia", "Avatar"],
    "Ano_de_lançamento":[2006,2005,2009],
    "Nota_de_quanto_gosto":[8,10,9]
})

# Concatenando o antigo com o novo dataframe
df1 = pd.concat([dataframe1, df1_novasLinhas], ignore_index=True, axis=0)
df2 = pd.concat([dataframe2, df2_novasLinhas], ignore_index=True, axis=0)
df3 = pd.concat([dataframe3, df3_novasLinhas], ignore_index=True, axis=0)

# Renomeando as columnas do DataFrame
df1.rename(columns={"Meus_animes_favoritos":"Meus_favoritos", "Ano_de_Lançamento":"Lançamento", "Nota_de_quanto_gosto":"Valoração"}, inplace=True)
df2.rename(columns={"Meus_desenhos_favoritos":"Meus_favoritos", "An_de_lançamento":"Lançamento", "Nota_de_quanto_gosto":"Valoração"}, inplace=True)
df3.rename(columns={"Meus_Filmes_Favoritos":"Meus_favoritos", "Ano_de_lançamento":"Lançamento", "Nota_de_quanto_gosto":"Valoração"}, inplace=True)

novo_dataframe = pd.concat([df1, df2, df3], ignore_index=True, axis=0)

# Exercicio 9
### 1-Usa 3 DataFrames criados na aula anterior, mostre apenas o filme/serie/anime com maior pontuação.
### 2-Leia o arquivo do dataset em json
### 3-Selecione apenas as 3 primeiras colunas do dataset
### 4-Selecione apenas as 10 primeiras linhas do dataset
### 5-Filtre o dataframe pegando apenas as linhas com valores maiores que essa media
### 6-Escolha uma coluna com valores textuais e filtre o dataframe pelo 1ro valor
### 7-Escolha uma coluna, como ano, titulo, etc e ordene seu dataframe tanto de forma crescente como decrescente

In [13]:
novo_dataframe.to_json("DataframeConcatenado.json")
# Lendo o Dataset em json
pd.read_json("DataframeConcatenado.json")

                Meus_favoritos  Lançamento  Valoração
0                Demons Slayer        2019         10
1              Attack on Titan        2013          8
2                     Overlord        2015         10
3                  Dragon Ball        1986         10
4             Sword Art Online        2012          9
5                One punch man        2009          9
6                       Bleach        2001          9
7            Seven deadly sins        2012          8
8             Hora de Aventura        2010         10
9                      Bakugan        2007         10
10                      Bem 10        2005          8
11              Apenas um Show        2010         10
12  Bob Esponja Calça Quadrada        1999          8
13                      Barney        1992          6
14                     Bakugan        2007          7
15                    Clarence        2014          7
16                    Rei Leão        1994         10
17          Até o ultimo homem        2016          9
18              Homem de Ferro        2008          9
19           Esqueceram de Mim        1990          8
20               Kung fu panda        2008         10
21         O relampago mcqueen        2006          8
22       As cronicas de narnia        2005         10
23                      Avatar        2009          9

In [14]:
# Concatenando horizontalmente os DataFrames antigos
antigo_dataframe_horizontal = pd.concat([dataframe1, dataframe2, dataframe3], axis=1)
# Selecionando as 3 primeiras columnas do DataSet
antigo_dataframe_horizontal.iloc[:, [0, 1, 2]]

  Meus_animes_favoritos  Ano_de_Lançamento  Nota_de_quanto_gosto
0         Demons Slayer               2019                    10
1       Attack on Titan               2013                     8
2              Overlord               2015                    10
3           Dragon Ball               1986                    10
4      Sword Art Online               2012                     9

In [15]:
## Selecionando as 10 primeiras linhas do DataFrame
novo_dataframe.head(10)

      Meus_favoritos  Lançamento  Valoração
0      Demons Slayer        2019         10
1    Attack on Titan        2013          8
2           Overlord        2015         10
3        Dragon Ball        1986         10
4   Sword Art Online        2012          9
5      One punch man        2009          9
6             Bleach        2001          9
7  Seven deadly sins        2012          8
8   Hora de Aventura        2010         10
9            Bakugan        2007         10

In [16]:
novo_dataframe.describe()

        Lançamento  Valoração
count    24.000000  24.000000
mean   2006.125000   8.833333
std       8.512459   1.167184
min    1986.000000   6.000000
25%    2004.000000   8.000000
50%    2008.000000   9.000000
75%    2012.000000  10.000000
max    2019.000000  10.000000

In [17]:
## Filtrando o Dataframe pefando apenas as linhas maiores da media que seria (8)
novo_dataframe[novo_dataframe["Valoração"] > 8]

           Meus_favoritos  Lançamento  Valoração
0           Demons Slayer        2019         10
2                Overlord        2015         10
3             Dragon Ball        1986         10
4        Sword Art Online        2012          9
5           One punch man        2009          9
6                  Bleach        2001          9
8        Hora de Aventura        2010         10
9                 Bakugan        2007         10
11         Apenas um Show        2010         10
16               Rei Leão        1994         10
17     Até o ultimo homem        2016          9
18         Homem de Ferro        2008          9
20          Kung fu panda        2008         10
22  As cronicas de narnia        2005         10
23                 Avatar        2009          9

In [18]:
## Escolhendo uma coluna com valor textual e filtrando pelo primeiro valor do DataFrame
primeiroValor = novo_dataframe["Meus_favoritos"].iloc[0]
df_filtrado=novo_dataframe[novo_dataframe["Meus_favoritos"] == primeiroValor]
df_filtrado

  Meus_favoritos  Lançamento  Valoração
0  Demons Slayer        2019         10

In [19]:
# Ordenando de forma Decrescente
anoLancamento_decrescente=novo_dataframe.sort_values(by="Lançamento", ascending=False)
anoLancamento_decrescente

                Meus_favoritos  Lançamento  Valoração
0                Demons Slayer        2019         10
17          Até o ultimo homem        2016          9
2                     Overlord        2015         10
15                    Clarence        2014          7
1              Attack on Titan        2013          8
4             Sword Art Online        2012          9
7            Seven deadly sins        2012          8
11              Apenas um Show        2010         10
8             Hora de Aventura        2010         10
23                      Avatar        2009          9
5                One punch man        2009          9
20               Kung fu panda        2008         10
18              Homem de Ferro        2008          9
9                      Bakugan        2007         10
14                     Bakugan        2007          7
21         O relampago mcqueen        2006          8
10                      Bem 10        2005          8
22       As cronicas de narnia        2005         10
6                       Bleach        2001          9
12  Bob Esponja Calça Quadrada        1999          8
16                    Rei Leão        1994         10
13                      Barney        1992          6
19           Esqueceram de Mim        1990          8
3                  Dragon Ball        1986         10

In [20]:
# Ordenando de forma Crecente
anoLancamento_crecente=novo_dataframe.sort_values(by="Lançamento", ascending=True)
anoLancamento_crecente

                Meus_favoritos  Lançamento  Valoração
3                  Dragon Ball        1986         10
19           Esqueceram de Mim        1990          8
13                      Barney        1992          6
16                    Rei Leão        1994         10
12  Bob Esponja Calça Quadrada        1999          8
6                       Bleach        2001          9
10                      Bem 10        2005          8
22       As cronicas de narnia        2005         10
21         O relampago mcqueen        2006          8
9                      Bakugan        2007         10
14                     Bakugan        2007          7
20               Kung fu panda        2008         10
18              Homem de Ferro        2008          9
23                      Avatar        2009          9
5                One punch man        2009          9
11              Apenas um Show        2010         10
8             Hora de Aventura        2010         10
4             Sword Art Online        2012          9
7            Seven deadly sins        2012          8
1              Attack on Titan        2013          8
15                    Clarence        2014          7
2                     Overlord        2015         10
17          Até o ultimo homem        2016          9
0                Demons Slayer        2019         10