 ## Exercício 20
### Análise de Consumo de Energia e Emissões de CO2
### Análises e Visualizações:
### • Crie um Boxplot que compare o consumo de energiasrenováveis e fósseis por continente.
### • Use gráficos de linha para mostrar a evolução do consumo de energias renováveis e fósseis e as emissões de CO2 ao longo do tempo.
### • Visualize a contribuição dos setores (indústria, transporte, etc.) para as emissões de CO2 por continente.
### • Crie gráficos de dispersão para analisar a correlação entre o consumo de energia fóssil e as emissões de CO2 por continente, incluindouma linha de regressão.
### • Crie gráficos interativos que permitam visualizar como o consumo energético impacta as emissões ao longo do tempo em diferentes regiões. Explique como o consumo de energia está relacionado às emissões de CO2, destacando diferenças regionais e setoriais.

In [10]:
import pandas as pd
import plotly.express as px
df = pd.read_csv("dados_energia_simulados_ptbr.csv")
df.head(5)

,Ano,Continente,País,Setor,Consumo_Energia_Renovável (MWh),Consumo_Energia_Fóssil (MWh),Emissões_CO2 (toneladas),PIB (milhões de USD),População (milhões)
0,2016,Oceania,China,Comercial,7397.685031,12535.546950,78910.224574,2.463037e+06,165.908531
1,2020,América do Sul,Brasil,Transporte,971.598203,10036.494790,93896.756176,6.152132e+06,19.864661
2,2003,América do Sul,China,Indústria,5455.079849,6789.106081,22068.881619,2.228470e+06,184.533453
3,2019,América do Sul,China,Indústria,2778.436239,12941.548015,49534.631946,6.481451e+06,134.801730
4,2019,América do Sul,Rússia,Residencial,6429.091172,11755.142517,117101.029860,3.262370e+06,76.268548

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Ano                              2000 non-null   int64
 1   Continente                       2000 non-null   object
 2   País                             2000 non-null   object
 3   Setor                            2000 non-null   object
 4   Consumo_Energia_Renovável (MWh)  2000 non-null   float64
 5   Consumo_Energia_Fóssil (MWh)     2000 non-null   float64
 6   Emissões_CO2 (toneladas)         2000 non-null   float64
 7   PIB (milhões de USD)             2000 non-null   float64
 8   População (milhões)              2000 non-null   float64
dtypes: float64(5), int64(1), object(3)
memory usage: 140.8+ KB

In [12]:
df.describe()

,Ano,Consumo_Energia_Renovável (MWh),Consumo_Energia_Fóssil (MWh),Emissões_CO2 (toneladas),PIB (milhões de USD),População (milhões)
count,2000.000000,2000.000000,2000.000000,2000.000000,2.000000e+03,2000.000000
mean,2010.991000,5047.241453,9972.486177,99890.594067,4.991574e+06,99.571949
std,6.750534,1989.358867,5115.427170,50561.848340,1.979496e+06,50.500185
min,2000.000000,-1376.610759,-7908.823002,-67666.540624,-2.207004e+06,-61.365517
25%,2005.000000,3628.462963,6534.967027,64374.810818,3.603225e+06,65.267282
50%,2011.000000,5048.885126,9871.284228,100749.256341,5.066709e+06,98.684757
75%,2017.000000,6486.014516,13310.305836,135078.752569,6.328770e+06,133.097287
max,2022.000000,11590.030991,29338.727046,249096.437916,1.130907e+07,289.533188

In [13]:
df.isnull().sum()

Ano                                0
Continente                         0
País                               0
Setor                              0
Consumo_Energia_Renovável (MWh)    0
Consumo_Energia_Fóssil (MWh)       0
Emissões_CO2 (toneladas)           0
PIB (milhões de USD)               0
População (milhões)                0
dtype: int64

In [14]:
df_agrupado=df.groupby("Continente")[["Consumo_Energia_Renovável (MWh)","Consumo_Energia_Fóssil (MWh)"]].sum()

In [15]:
df_agrupado

,Consumo_Energia_Renovável (MWh),Consumo_Energia_Fóssil (MWh)
Continente,,
América do Norte,1.728312e+06,3.316335e+06
América do Sul,1.715953e+06,3.524776e+06
Europa,1.673929e+06,3.400128e+06
Oceania,1.725809e+06,3.515681e+06
África,1.650154e+06,3.076956e+06
Ásia,1.600325e+06,3.111096e+06

In [16]:
df.columns

Index(['Ano', 'Continente', 'País', 'Setor', 'Consumo_Energia_Renovável (MWh)',
       'Consumo_Energia_Fóssil (MWh)', 'Emissões_CO2 (toneladas)',
       'PIB (milhões de USD)', 'População (milhões)'],
      dtype='object')

In [20]:
oceania_df = df[df["Continente"]=="Oceania"]
americaDoSul_df = df[df["Continente"]=="América do Sul"]
europa_df = df[df["Continente"]=="Europa"]
americaDoNorte = df[df["Continente"]=="América do Norte"]
africa_df = df[df["Continente"]=="África"]
asia_df = df[df["Continente"]=="Ásia"]

In [21]:
oceania_df

,Ano,Continente,País,Setor,Consumo_Energia_Renovável (MWh),Consumo_Energia_Fóssil (MWh),Emissões_CO2 (toneladas),PIB (milhões de USD),População (milhões)
0,2016,Oceania,China,Comercial,7397.685031,12535.546950,78910.224574,2.463037e+06,165.908531
8,2009,Oceania,Estados Unidos,Residencial,6005.195632,7332.285514,96521.390458,4.987718e+06,123.036782
10,2011,Oceania,Austrália,Comercial,5548.700023,10029.134396,152015.394711,3.872373e+06,152.793504
11,2003,Oceania,Brasil,Residencial,6649.217009,9992.382375,71064.270373,6.316623e+06,120.364807
12,2008,Oceania,Brasil,Transporte,5035.213598,19465.583373,108619.763608,5.847310e+06,64.210035
...,...,...,...,...,...,...,...,...,...
1960,2004,Oceania,China,Transporte,5865.422516,5477.356369,114797.545764,3.054076e+06,23.327940
1970,2014,Oceania,Estados Unidos,Transporte,6984.038002,-2880.661688,95482.813641,4.128680e+06,60.116494
1975,2015,Oceania,China,Indústria,7221.686869,7489.253568,106423.007157,4.619718e+06,77.636767
1978,2007,Oceania,Austrália,Comercial,7864.072301,9366.997249,140918.848769,-2.207004e+06,129.305892
1998,2009,Oceania,Estados Unidos,Residencial,2798.483361,10352.844393,50669.152564,5.887057e+06,50.080865